<div class="row">
  <div class="col-sm-6">
    <div class="card text-center" style="width: 60rem;">
      <div class="card-body justify-center-content">
        <h5 class="card-title">Thank YOU for your reservation</h5>
        <h6 class="card-subtitle mb-2 text-muted">Happy Boyfriend soon</h6>
        <p class="card-text">Please check your dashboard to see the status of your order!
      We hope to see you again soon</p>
        <a href="/dashboard" class="btn btn-primary">Your dashboard</a>
        <img class="card-img-top" src="https://www.pngkit.com/png/full/277-2773511_happy-guy-guy-happy.png" alt="Card image cap">
      </div>
     </div>
  </div>
</div>
