.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.search {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

#image-banner {
  background-color: #4a789e;
  background-image: 'https://res.cloudinary.com/dpvb0skqt/image/upload/v1615643001/shot-beautiful-blonde-girl-kissing-handsome-man-isolated-grey-panoramic-shot-beautiful-blonde-girl-kissing-handsome-men-195073898_um81li.jpg';
  color: white;
  text-align: center;
  height: 150px;
  padding: 8px;
}

.banner-separator {
  background-color: #4a789e;
  height: 35px;
}
